<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<% include templates/header.ejs %>

<ul id="messages-received" class="messages-received">
    <% messages.forEach(function(item) { %>
    <li class="message"> <%= item.text %> </li>
    <% }) %>
</ul>

<form id="message-form">
    <input id="message-text" type="text">
    <input id="message-submit" type="submit">
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();

    // sending messages
    var messageText = document.getElementById('message-text');
    document.getElementById('message-form').addEventListener('submit', function (event) {
        event.preventDefault();
        var sentMessage = document.createElement('LI');
        sentMessage.className += 'message yours';
        sentMessage.appendChild(document.createTextNode(messageText.value));
        document.getElementById('messages-received').appendChild(sentMessage);
        socket.emit('message', messageText.value);
        messageText.value = '';
    });

    // receiving messages
    socket.on('message', function (message) {
        var receivedMessage = document.createElement("LI");
        receivedMessage.className += 'message';
        receivedMessage.appendChild(document.createTextNode(message));
        document.getElementById('messages-received').appendChild(receivedMessage);
    });
</script>
</body>
</html>
