body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body .menu {
    background: #eee;
    border: 1px solid #000;
    padding: 0; }
    body .menu li {
      display: inline-block;
      list-style-type: none;
      padding: 15px; }
      body .menu li:hover {
        background: #ddd; }
      body .menu li a {
        text-decoration: none;
        padding: 5px 15px; }
  body .messages-received {
    height: 500px;
    width: 350px;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse; }
    body .messages-received .message {
      max-width: 350px;
      padding: 2px 5px;
      list-style-type: none; }
      body .messages-received .message.yours {
        text-align: right;
        background: #eee; }
  body form {
    position: fixed; }
    body form input {
      width: 350px;
      border: 0;
      border: 1px solid #000;
      border-top-width: 0; }
    body form input[type=submit] {
      display: none; }

/*# sourceMappingURL=style.css.map */