body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  .menu
    background: #eee
    border: 1px solid #000
    padding: 0
    li
      display: inline-block
      list-style-type: none
      padding: 15px
      &:hover
        background: #ddd
      a
        text-decoration: none
        padding: 5px 15px
  .messages-received
    height: 500px
    width: 350px
    border: 1px solid #000
    padding: 0
    margin: 0
    overflow-y: scroll
    overflow-x: hidden
    display: flex
    flex-direction: column-reverse
    .message
      max-width: 350px
      padding: 2px 5px
      list-style-type: none
      &.yours
        text-align: right
        background: #eee
  form
    position: fixed
    input
      width: 350px
      border: 0
      border: 1px solid #000
      border-top-width: 0
    input[type=submit]
      display: none


